*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.btn1{
    font-size: 50px;
    font-weight: 500;
    padding: 50px;
    margin: 50px;
    width: 400px;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    background-color: green;
    box-shadow: 10px 10px 10px -1px rgba(red, green, blue, alpha);
    
}
.btn2{
    font-size: 50px;
    font-weight: 500;
    padding: 50px;
    margin: 50px;
    width: 400px;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    background-color: red;
    box-shadow: 10px 10px 10px -1px rgba(red, green, blue, alpha);
    
}
.btn3{
    font-size: 50px;
    font-weight: 500;
    padding: 50px;
    margin: 50px;
    width: 400px;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    background-color: blue;
    box-shadow: 10px 10px 10px -1px rgba(red, green, blue, alpha);
    
}

.btn1:hover{
    transition: 0.1s;
    background-color: black;
    
}
.btn2{
    transition: 0.2s;
}
.btn2:hover{
    background-color: black;
}
.btn3{
    transition: 0.2s;
}
.btn3:hover{
    background-color: black;
}
.btn{
    display: flex;
}
.main{
    font-size: 100px;
}
.buttons{
    display: flex
}